.container-main {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    /* background-position: center center; */
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
  }
  #login .container-fluid #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    /* border: 1px solid #ad9393; */
    border-radius: 10px;
    /* background-color: #EAEAEA; */
  }
  #login .container-fluid #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container-fluid #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

#login-box{
    /* background-color: #EAEAEA; */
    /* opacity: 0.5; */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0px #EAEAEA
  }
.sup{
    opacity: 1;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(12, 12, 12),
    0 0 80px rgb(5, 5, 5),
    0 0 90px rgb(12, 12, 12),
    0 0 100px #0ff,
    0 0 150px #0ff;
}
/* .container-fluid{
    opacity: 0.5;
} */


  #login-box label{
    color: white;
    font-weight: bold;
  }