.btn-space {
    margin-right: 5px;
}

/* .form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
} */

.form-group.required .control-label:after { 
    content:"*";
    color:red;
 }

 
